      <div class="copyright">
    <div class="wrapper">
<table align="center" width="100%"> 
  <td>
<iframe data-aa='324571' src='https://ad.a-ads.com/324571?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
  </td>
  <td>
  <div id="linkslot_144538"><script src="https://linkslot.ru/bancode.php?id=144538" async></script></div>
  </div>
  </td>
  </table> 
  <br>		
<table align="center" width="100%" height="100" > 
    <td style="font-size: 12px" height="0" align="left"><br><br>
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t58.3;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<br><br>
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ua/stat/?id=41792829&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/41792829/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="41792829" data-lang="ru" /></a>
<!-- /Yandex.Metrika informer -->
   
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41792829 = new Ya.Metrika({
                    id:41792829,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<!-- /Yandex.Metrika counter -->
<br><br>
<a href="/?menu=account&sel=monitor&fruitfarm=2"><img src="/img/mrfarmer.gif" border="0" alt="" width="88" height="31"></a>
 
 </td>
   <td style="font-size: 12px" height="0" align="left"><br>
   <p style="color:#FFFFFF;">Мы на мониторинге:</p><br><br>
   <a target="_blank" style="color: Gold" href="http://monitoringff.ru/850-mrfarmer.html" class="tips" original-title="Monitoring FF">Monitoring FF</a><br>
   <a target="_blank" style="color: Gold" href="http://profmonitgame.ru/news/2016-12-21-174" class="tips" original-title="Prof Monit Game">Prof Monit Game</a><br>
<br><br>
   <p style="color:#FFFFFF;">Нас обсуждают:</p><br><br>
   <a target="_blank" style="color: Gold" href="http://mmgp.ru/showthread.php?t=488759" class="tips" original-title="MMGP.Ru">MMGP.Ru</a><br>
   
</td>
   <td style="font-size: 12px" height="0" align="left"><br>
   <p style="color:#FFFFFF;">Контакты:</p><br><br>
   <span style="color: Gold">support@mr-farmer.biz</span><br>
   <a target="_blank" style="color: Gold" href="http://vk.com/mrfarmer" class="tips" original-title="Prof Monit Game">VK.com/Mr.Farmer</a><br><br>
  
  <p style="color:#FFFFFF;">2016 - 2017  &copy;  Mr.Farmer</p><br><br>
  <a style="color: Gold" href="https://mr-farmer.biz/?menu=account&sel=monitor&fruitfarm=2" class="tips" original-title="Наш мониторинг">Наш мониторинг FF</a><br>
  <a style="color: Gold" href="https://mr-farmer.biz/polezno.html" class="tips" original-title="Партнерская программа">Партнерская программа</a><br>
  <a style="color: Gold" href="https://mr-farmer.biz/rekladd.html" class="tips" original-title="Заказать рекламу">Заказать рекламу</a><br><br>
  
           </td>
         </td>
        </table> 
       </div>
      </div>
     </div>
